services:
  db:
    image: 'postgres:17'
    user: postgres
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - '5432:5432'
    volumes: 
      - /var/lib/postgresql/data
    healthcheck:
      test: "pg_isready -h localhost"
      interval: 200ms
      timeout: 5s
      retries: 10
